
.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
}

.nav-link{
  /* float: right;  this didnt work so John and I used ML in the html
  also can use margin-right: 7em*/
  opacity: 0.3;
  /* margin-right: 7em */

  color: #ffffff !important;
  font-weight: bold;
}

.cta{
  color: #ffffff !important;
  width: 200px;
  font-size: 18;
}

.btn{
  background-color: ff0000;
  border-radius: 15px;
  color: #ffffff !important;
  font-size: 18px;
}

.btn:hover{
  background-color: 8b0000;
}


.handsfree {
  font-size: 18px;
}

.ig-logo{
  left:15px;
  bottom: 15px;
  position: absolute;
  width: 40px;
}

p{
  font-size: 18;
}

.learn{
  color: red;
  font-size: 18;
}


.box{
  margin-top: 8;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #8080800d;
  padding-bottom: 10px;
  padding-top: 10px;
  /* background-color: black; */
}


.main{
  font-weight: bold;
}


.features{
  bottom: 950px;
  position: absolute;

}

.foot{
  background-color: black;
}

.overview{
  width: 950px;

}
