
.hero{
  background-image: url("img/hero.jpg");
  background-size: cover;
}

.nav-link{
  /* float: right;  this didnt work so John and I used ML in the html
  also can use margin-right: 7em*/
  opacity: 0.3;
  /* margin-right: 7em */

  color: #ffffff !important;
  font-weight: bold;
}

.cta{
  color: #ffffff !important;
}

.btn{
  background-color: ff0000;
  border-radius: 15px;
  color: #ffffff !important;

}

.btn:hover{
  background-color: 8b0000;
}

.handsfree{
  display: block;
  width: 200px !important;
  height: 400px;
}

.ctasunglasses{
  width: 400px;
  height: 400px;
  float: right;
  display: block;

}
